.ticket-container {
    border-radius: 10px;
    border: 2px solid rgb(217, 205, 205);
    display: flex;
    flex-direction: row;
    gap: 3%;
    height: 200px;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
}

.ticket-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

.company-img {
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: center;
    object-fit: contain;
}

.logo {
    height: auto;
    width: 80%;
}

.price {
    align-items: center;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    border: none;
    color: white;
    display: flex;
    font-size: 20px;
    height: 45%;
    justify-content: center;
    width: 90%;
}

.price:hover {
    cursor: pointer;
}

.price-text {
    width: 100%;
}

.currency {
    margin-left: 5px;
}

.details {
    margin-top: 20px;
}

.time {
    font-size: 30px;
    margin-bottom: 5%;
}

.place {
    font-size: 12px;
}

.date {
    color: gray;
    font-size: 15px;
}

.transfer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 20%;
}

.transfer-count {
    color: gray;
    display: flex;
    font-size: 13px;
    justify-content: center;
}

.transfer-img {
    opacity: .5;
}

.plane {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .ticket-container {
        height: 180px;
    }
    
    .price-text {
        width: 70%;
    }

    .transfer-count {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    .ticket-container {
        height: 150px;
    }
    
    .price {
        font-size: 15px;
    }

    .details {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 880px) {
    .transfer-count {
        font-size: 8px;
    }
}

@media only screen and (max-width: 810px) {
    .ticket-container {
        height: 120px;
    }
    
    .price {
        font-size: 12px;
    }

    .time {
        font-size: 20px;
        margin-bottom: 3%;
    }

    .place {
        font-size: 8px;
    }

    .date {
        font-size: 10px;
    }
}

@media only screen and (max-width: 675px) {
    .transfer-count {
        font-size: 6px;
    }
    
    .transfer-img {
        margin-top: -5px;
    }
}

@media only screen and (max-width: 620px) {
    .transfer {
        margin-right: 10px;
    }
    
    .ticket-container {
        gap: 2%;
        height: 100px;
        padding-top: 5px;
    }
    
    .price {
        font-size: 10px;
    }

    .time {
        font-size: 15px;
        margin-bottom: 2%;
    }

    .place {
        font-size: 8px;
    }

    .date {
        font-size: 8px;
    }
}

@media only screen and (max-width: 570px) {
    .transfer-count {
        font-size: 5px;
    }

    .price {
        font-size: 9px;
    }

    .time {
        font-size: 15px;
        margin-bottom: 2%;
    }

    .place {
        font-size: 6px;
    }

    .date {
        font-size: 8px;
    }
}
